.cardsList {
  display: flex;
  justify-content: center;
  flex-basis: auto;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: initial;
  gap: 0.1rem;
  max-width: 75rem;
  margin: 0 auto;

  .cardsList__card {
    display: flex;
    font-family: "Inter", sans-serif;
    align-items: center;
    box-sizing: border-box;
    background: #d9d9d9;
    color: #444444;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.35));
    width: 20rem;
    border-radius: 10px;
    border-bottom-left-radius: 45rem;
    border-top-left-radius: 45rem;
    margin: 1rem;

    h3 {
      font-size: normal;
      box-sizing: border-box;
      position: relative;
      top: 0;
    }
    p {
      font-size: small;
    }

    button {
      height: fit-content;
      width: fit-content;
      background: none;
      border: none;
    }
    .cardsList__cardimg {
      left: 0;
      width: 5rem;
      border-radius: 50%;
      z-index: 1;
      filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.35));
    }
  }
}

.texts {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 0.3rem;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  max-width: 15rem;
  overflow: hidden;
}

.fav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pricebutton {
  display: flex;
  position: relative;
  font-size: large;
  color: #d3aa43;
  bottom: 0;
  left: 0;
  justify-content: space-between;
}

.price {
  display: flex;
  align-items: center;
  font-size: small;
  color: #d9d9d9;
  background-color: #1d4931;
  border-radius: 60rem;
  padding: 4px;
}

.cardsList__card:hover {
  transform: scale(2, 2);
  z-index: 1;
  transition: 0.5s;
}

.input {
  box-sizing: border-box;
  width: 5rem;
  text-align: center;
}
