$break-desktop : 900px;


//Fonts
$font-text :'Crimson Text', serif;
$font-main :'Josefin Sans', sans-serif;
$font-name :'Playfair Display', serif;

//Colors

$color-red : #6e1b10;
$color-dark : #212021;
$color-white : #f5f5f5;

//Effect

$effect-boxShadow : 0px 4px 4px rgba(0, 0, 0, 0.25);
