.mainNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-dark+10;
    position: fixed;
    width: 100%;

    padding : 4px 9px;
    @include responsive-desktop{
        padding : 18px 26px; 
    }

    &__logo{
        width: 61px;
        @include responsive-desktop{
            width: 96px;
        }
    }

    &__btnNav{
        width: 30px;
        height: 30px;
        background-image: url('../img/iconHamburger.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        background-size: contain;
        border:none;
        @include responsive-desktop{
            display: none;
        }
     }

    &__linkList{
        display: none;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:15px;
        padding: 10px 0;

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: $color-dark;
        

        @include responsive-desktop{
            display: flex;
            background-color: transparent;
            position: relative;
            flex-direction: row;
            justify-content: center;
        }

        &--active{
            display: flex;
            
        }

        

        &__link{
            text-align: center;
            width: 100%;
            @include responsive-desktop{
                width: auto;
            }
            a{
                display: inline-block;
                width: 100%; 
                padding: 6px;
                font-family: $font-main;
                font-size: 1.44em;
                text-align: center;
                text-decoration:none;
                color:$color-white;
                text-transform: uppercase;
                @include responsive-desktop{
                    width: auto;
                }

                &:hover{
                    background-color: $color-red;
                }

            }
        }
    }

    .darkModeBtn-inside{
        @include responsive-desktop{
            display: none;
        }
    }

    .darkModeBtn-outside{
        display: none;
        @include responsive-desktop{
            display: inline-block;
        }
    }

}