/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.button {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
  border: none; }
  .button-menuHamburger {
    background-image: url("../img/iconHamburger.svg"); }
  .button-shoppingCard {
    background-image: url("../img/iconShopping.svg"); }

.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #535253;
  position: relative;
  padding: 9px; }
  .mainNav__btnNav {
    width: 30px;
    height: 30px;
    background-image: url("../img/iconHamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none; }
    @media screen and (min-width: 900px) {
      .mainNav__btnNav {
        display: none; } }
  .mainNav__linkList {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #212021; }
    @media screen and (min-width: 900px) {
      .mainNav__linkList {
        display: flex;
        background-color: transparent;
        position: relative;
        flex-direction: row;
        justify-content: center; } }
    .mainNav__linkList--active {
      display: flex; }
    .mainNav__linkList__link {
      width: 100%; }
      @media screen and (min-width: 900px) {
        .mainNav__linkList__link {
          width: auto; } }
      .mainNav__linkList__link a {
        display: inline-block;
        width: 100%;
        padding: 6px;
        font-family: "Josefin Sans", sans-serif;
        font-size: 2em;
        text-align: center;
        text-decoration: none;
        color: #f5f5f5; }
        @media screen and (min-width: 900px) {
          .mainNav__linkList__link a {
            width: auto; } }
        .mainNav__linkList__link a:hover {
          background-color: #6e1b10; }
  @media screen and (min-width: 900px) {
    .mainNav .darkModeBtn-inside {
      display: none; } }
  .mainNav .darkModeBtn-outside {
    display: none; }
    @media screen and (min-width: 900px) {
      .mainNav .darkModeBtn-outside {
        display: inline-block; } }

:root {
  --cursorDiametre: 20px; }

.darkModeBtn {
  background-color: #f5f5f5;
  display: inline-block;
  padding: 2px var(--cursorDiametre);
  border-radius: calc(var(--cursorDiametre)/2);
  position: relative; }
  .darkModeBtn__switch {
    width: calc(var(--cursorDiametre)*2);
    background-color: #212021;
    padding: 1px 2px;
    border-radius: calc(var(--cursorDiametre)/2);
    display: flex; }
    .darkModeBtn__switch--on {
      justify-content: flex-end; }
    .darkModeBtn__switch::before, .darkModeBtn__switch::after {
      content: '';
      display: block;
      width: var(--cursorDiametre);
      height: var(--cursorDiametre);
      position: absolute;
      top: 2px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; }
    .darkModeBtn__switch::before {
      left: 0;
      background-image: url(../img/sun.svg); }
    .darkModeBtn__switch::after {
      right: 0;
      background-image: url(../img/moon.svg); }
    .darkModeBtn__switch__cursor {
      width: var(--cursorDiametre);
      height: var(--cursorDiametre);
      background-color: #f5f5f5;
      border-radius: calc(var(--cursorDiametre)/2); }

/*# sourceMappingURL=style.css.map */
