/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.aboutUs {
  color: #212021;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 900px) {
  .aboutUs {
    background-image: url("/assets/img/spoon_spices.png");
    background-repeat: no-repeat;
    background-size: 11%;
    background-position: right 0% bottom 88%;
  }
}
.aboutUs h1 {
  font-family: Josefin Sans, sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  gap: 0.6rem;
  text-transform: uppercase;
  border-bottom: 3px solid #6E1D10;
}
@media screen and (min-width: 900px) {
  .aboutUs h1 {
    width: 30%;
  }
}
.aboutUs #shosix_strong {
  font-weight: 500;
}
.aboutUs h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
}

.aboutUs__members {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
@media screen and (min-width: 900px) {
  .aboutUs__members {
    flex-direction: row;
    width: 80%;
  }
}
.aboutUs__members__chef {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
@media screen and (min-width: 900px) {
  .aboutUs__members__chef {
    flex-direction: row;
    padding-right: 7%;
    gap: 2rem;
  }
}
.aboutUs__members__chef .chef__image {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  object-fit: cover;
  border: #6e1b10 solid 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 900px) {
  .aboutUs__members__chef .chef__image {
    width: 26rem;
    height: 26rem;
  }
}
.aboutUs__members__chef .chef__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  height: 10rem;
}
@media screen and (min-width: 900px) {
  .aboutUs__members__chef .chef__card {
    align-items: flex-start;
  }
}
.aboutUs__members__chef .chef__card__description {
  line-height: 1.8rem;
  font-family: "Crimson Text", serif;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .aboutUs__members__chef .chef__card__description {
    text-align: left;
  }
}
@media screen and (min-width: 900px) {
  .aboutUs__members__staff {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 28rem;
  }
}
.aboutUs__members__staff .staff__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding-left: 1rem;
  height: 9rem;
}
.aboutUs__members__staff .staff__card__image {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.aboutUs__members__staff .staff__card__name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6rem;
  width: 6rem;
}

.aboutUs__kitchen {
  padding: 1rem;
}
.aboutUs__kitchen .carousel__container {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 10%, rgb(110, 29, 16) 10%, rgb(110, 29, 16) 90%, rgb(255, 255, 255) 90%);
  background-repeat: none;
  height: 20rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
@media screen and (min-width: 900px) {
  .aboutUs__kitchen .carousel__container {
    background: linear-gradient(90deg, rgb(255, 255, 255) 5%, rgb(110, 29, 16) 5%, rgb(110, 29, 16) 95%, rgb(255, 255, 255) 95%);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.aboutUs__kitchen .caroussel__image {
  width: 90vw;
  height: 18rem;
  object-fit: cover;
  padding: 1rem;
}
@media screen and (min-width: 900px) {
  .aboutUs__kitchen .caroussel__image {
    width: 31%;
    height: 18rem;
  }
}
.aboutUs__kitchen .carousel__bouton {
  z-index: 1;
  width: 2rem;
  height: 2rem;
  position: absolute;
  cursor: pointer;
  top: 50%;
}
.aboutUs__kitchen #arrow_r {
  color: #f5f5f5;
  right: 0;
  opacity: 0.4;
  transform: rotate(0deg);
  transform: all 0.3s ease;
}
.aboutUs__kitchen #arrow_r:hover {
  transform: scale(1.1);
  opacity: 1;
  transform: all 0.3s ease;
}
.aboutUs__kitchen #arrow_l {
  color: white;
  left: 0;
  opacity: 0.4;
  transform: rotate(180deg);
  transform: all 0.3s ease;
}
.aboutUs__kitchen #arrow_l:hover {
  transform: scale(1.1);
  opacity: 1;
  transform: rotate(180deg);
  transform: all 0.3s ease;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-image: url("/assets/images__writeComment/Wine.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: right 100% bottom -30%;
}
@media screen and (min-width: 900px) {
  .contact {
    background-size: 50%;
    background-position: left 0% bottom 80%;
  }
}
.contact__title {
  font-family: Josefin Sans, sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem;
  gap: 0.6rem;
  text-transform: uppercase;
  border-bottom: 3px solid #6E1D10;
}
.contact__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}
@media screen and (min-width: 900px) {
  .contact__card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 25%;
    padding-right: 25%;
  }
}
.contact .clients__info {
  width: 80%;
  height: 2rem;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 1rem;
}
@media screen and (min-width: 900px) {
  .contact .clients__info {
    width: 48%;
  }
}
.contact .clients__info::placeholder {
  color: #807F7F;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  letter-spacing: 0.12em;
}
.contact .clients__message {
  outline: none;
  width: 80%;
  height: 10rem;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 2rem;
}
@media screen and (min-width: 900px) {
  .contact .clients__message {
    width: 100%;
  }
}
.contact .clients__message::placeholder {
  color: #807F7F;
  font-family: "Crimson Text", serif;
  font-weight: 400;
  letter-spacing: 0.12em;
}
.contact__submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__submit__button {
  background-color: #6e1b10;
  color: #f5f5f5;
  width: 7rem;
  height: 2rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #CEB6B6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
