.button{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: contain;
    border:none;

    &-menuHamburger{
        background-image: url('../img/iconHamburger.svg');
    }

    &-shoppingCard{
        background-image: url('../img/iconShopping.svg');

    }
 }