$cursorDiametre : 20px;   //Largeur total de l'élément darkModeSwitch

:root{
    --cursorDiametre : #{$cursorDiametre};
}


.darkModeBtn{
    background-color: $color-white;
    display: inline-block;
    padding:2px var(--cursorDiametre);
    border-radius: calc(var(--cursorDiametre)/2);
    position: relative;


    &__switch{
        width: calc(var(--cursorDiametre)*2);
        background-color: $color-dark;
        padding:1px 2px;
        border-radius: calc(var(--cursorDiametre)/2);

        display: flex;

        &--on{
            justify-content: flex-end;
        }
        

        &::before, &::after{
            content:'';
            display: block;
            width: var(--cursorDiametre);
            height: var(--cursorDiametre);
            

            position: absolute;
            top:2px;

            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        &::before{
            left: 0;
            background-image: url(../img/sun.svg);
        }

        &::after{
            right: 0;
            background-image: url(../img/moon.svg);

        }

    

        &__cursor{
        width: var(--cursorDiametre);
        height: var(--cursorDiametre);
        background-color: $color-white;
        border-radius: calc(var(--cursorDiametre)/2);

        
        
        }

        

    }
    
}